.glyphicon glyphicon-user {
	 font-size: large;
	 height: 1145px;
     width: 100%;
}
body {
	background-image:url('imglog/candys.jpg');
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 250px;
    line-height: 1.42857143;
    text-align: center;
	background-size: cover;
    background-repeat: no-repeat;
	overflow-x:hidden;
	overflow-y:hidden;
}

.input-group{
	width: 110%; 
	padding-left: 550px;
	padding-right:680px;	
}
.btn-default{
	font-size: 15px;
    text-shadow: 0 1px 0 #c838d2;
	position: relative; 
	top: -153px; 
    left: 5px;	 
}


