body{
	padding:0;
	margin:0;
	overflow-x:hidden;
	overflow-y:hidden;
}
#products{
	width:100%;
	overflow-y:auto;
	height:500px;
	overflow-x:hidden;
}
.box {
    height: 145px;
    width: 100%;
    overflow: hidden;
}
#produse-in-cos
{
    height: 360px;
    overflow-y: scroll;
    width: 100%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 6px;
  margin-right: 5px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.glyphicon-globe {
    font-size: medium;
}
.navbar {
  margin-bottom: 0;
}
.thumbnail h4{
	text-align:center;
}
.thumbnail #price{
	position:absolute;
	top:10px;
	right:30px;
	font-weight:bold;
}
div.stars {
  width: 100%;
    display: block;
    text-align: center;
}
.product-thumbnail{
	margin-top:10px;
}
.btn-group-justified > .btn.name
{
    width: 6%;
}
.btn-group-justified > .btn.quantity-decrease,
.btn-group-justified > .btn.quantity-increase
{
    padding: 0 0 0 0;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle).quantity-decrease
{
    border-radius: 15px;
}
.btn-group>.btn:last-child:not(:first-child).quantity-increase
{
    border-radius: 15px;
}
.disabled 
{
    color: black;
    pointer-events: none;
    cursor: default;
}
.bascket-product
{
    margin-bottom: 4px;
}
.input-group.col-lg-3 {
    float: right;
	margin-top: 7px;
 }
#logo-button {
	
	width: 200px;
	height: 30px;
	text-align: center;
	margin-left: 350px;
	
	
}
#logo-button h4{
	font-family: "Merinda" , Georgia, Serif;
	color: white;
	
}
#logo-button h4{
	margin-top: 0px;
	margin-bottom: 0px;
}

#logo-button a:hover {
	
	text-decoration: none;

}
.glyphicon-question-sign {
	font-size: x-large;
	text-align: center;
}
.glyphicon-globe{
	font-size: x-large;
	text-align: center;
}
