body{
	padding:0;
	margin:0;
	overflow-x:hidden;
	overflow-y:hidden;
}
#products{
	width:100%;
	overflow-y:scroll;
	height:500px;
}
.box {
    height: 145px;
    width: 100%;
    overflow: hidden;
}
#produse-in-cos
{
    height: 360px;
    overflow-y: scroll;
    width: 100%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 6px;
  margin-right: 5px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.glyphicon-globe {
    font-size: large;
}